body {
  background: #333;
  color: white;
}

.navbar {
  opacity: 0.9;
  box-shadow: 2px 2px 5px skyblue;
}

.nav-item {
  font-size: 1.1rem;
  padding-right: 1.1rem;
}

#animeSongs p,
#nonAnimeSongs p {
  margin-bottom: 50px;
}

#animeSongs {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url(../img/jezael-melgoza-layMbSJ3YOE-unsplash.jpg);
  min-height: 600px;
  color: black;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#animeSongs .card:hover {
  background: #3292a6;
  color: #fff;
}

#header {
  position: relative;
  background: url(../img/yucar-fotografik-cfR-V1QuEKw-unsplash.jpg);
  min-height: 600px;
  color: black;
}

.card {
  margin-left: auto;
  margin-right: auto;
}

#nonAnimeSongs {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/hans-vivek-By96LAr-34o-unsplash.jpg);
  min-height: 600px;
  position: relative;
  color: white;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#main-footer a {
  color: white;
}

#containerLinks {
  border-top: 2px #fff solid;
}

#containerLinks a {
  padding-right: 20px;
}

@media only screen and (max-width: 767px) {
  #main-footer #photoCredits {
    border-bottom: 2px solid #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  #main-footer img {
    margin-bottom: 20px;
  }

  #main-footer {
    text-align: center;
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  #main-footer {
    font-size: 14px;
  }

  #containerLinks a {
    display: block;
    padding-bottom: 10px;
  }

  #main-footer #footerLeft {
    justify-content: center;
  }

  #containerLinks {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  #main-footer #footerLeft {
    padding-right: 3rem;
  }
}
