body {
  background: #333;
  color: white;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  opacity: 0.9;
  box-shadow: 2px 2px 5px skyblue;
}

.nav-item {
  font-size: 1.1rem;
  padding-right: 1.1rem;
}

#main-nav a {
  font-size: 17.5px;
}

#animeSongs p,
#nonAnimeSongs p {
  margin-bottom: 50px;
}

#animeSongs {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url(../img/jezael-melgoza-layMbSJ3YOE-unsplash.jpg) center center/cover;
  min-height: 600px;
  color: black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
}

#animeSongs .card:hover {
  background: #3292a6;
  color: #fff;
}

#header {
  position: relative;
  background: url(../img/cesar-couto-pC2xOplxsVs-unsplash.jpg) center
    center/cover;
  background-size: 100%;
  height: 100vh;
  min-height: 675px;
  color: black;
  background-size: cover;
  background-repeat: no-repeat;
}

#header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

#header-content img {
  background: transparent;
  height: 50%;
  max-width: 100%;
}

#header-content h4 {
  font-size: 1.7rem;
  margin-bottom: 1.7rem;
}

#header-content p {
  font-size: 1.15rem;
}

.image-row {
  display: flex;
  flex-direction: row;
  height: 50%;
}

.card {
  margin-left: auto;
  margin-right: auto;
}

#nonAnimeSongs {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/hans-vivek-By96LAr-34o-unsplash.jpg) center center/cover;
  min-height: 300px;
  position: relative;
  color: white;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#nonAnimeSongs a {
  color: white;
  text-decoration: none;
}

#nonAnimeSongs a:hover {
  text-decoration: underline;
}

#footerLeft img {
  margin-top: 1.3rem;
}

#main-footer a {
  color: white;
}

#footer-bottom {
  border-top: 2px #fff solid;
  font-size: 13px;
}

#footer-bottom a {
  padding-right: 20px;
}

#animeSongs .card {
  height: 100%;
}

@media only screen and (max-width: 767px) {
  #main-footer #photoCredits {
    border-bottom: 2px solid #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  #main-footer img {
    margin-bottom: 20px;
  }

  #main-footer {
    text-align: center;
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  #main-nav a {
    font-size: 14px;
  }

  #main-footer {
    font-size: 14px;
  }

  #footer-bottom a {
    display: block;
    padding-bottom: 10px;
  }

  #main-footer #footerLeft {
    justify-content: center;
  }

  #footer-bottom {
    text-align: center;
    padding-left: 30px;
  }

  .img-2 {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  #main-footer #footerLeft {
    padding-right: 3rem;
  }

  #footer-bottom {
    text-align: right;
  }
}
